body {
  font-family: Helvetica, Arial;
  font-size: 1.2em;
  margin: 0 auto;
  /* overflow: hidden; */
}
#show-chat {
  border:1px inset black;
}
#chat-container {
  display: none;
  position: absolute;
  z-index: 100;
  background-color: lightgrey;
}

button, #filterSelect{
  border-radius: 10px;
  padding: 10px;
}

#status-bar {
  display: inline;
  padding:8px;
  border-radius:4px;
  background:lightgrey;
  text-align:right;
  float:right;
}

.status {
  border-right: 1px solid black;
  padding-right: 10px;
}

#bodybox {
  margin: auto;
  max-width: 550px;
  font-size: 15px;
  padding: 5px;
  border-radius: 15px;
  border: 1px solid black;
}

#chatborder {
  margin: 0px;
  padding: 0px;
}

form {
  display: block;
}

input[type=text] {
  font-size: 16px;
  width: 35%;
  transition: width 0.2s ease-in-out;
}

input[type=text]:focus {
  width: 75%;
}

input[type=submit] {
  background-color: aqua;
  width: 12%;
  font-size: 12px;
}

#messages {
  list-style: none;
  padding: 0;
  margin: 0;
}

#contsuperior div, #continferior div {
  display:inline;
}

#continferior div{
  padding-right:20px;
}

.inst {
  border: 1px solid black;
  border-radius:2vmin;
  background:lightblue;
}