/* style.css */

body {
  font-family: Helvetica, Arial;
  font-size: 1.2em;
  overflow:hidden;
}
header, main, footer { 
  position:relative;
  float:left;
  /* border: 1px solid black; */
}
#chat-container {
  display:none;
  position:absolute;
  top:40px;
  left:0;
  z-index:100;
  background-color:lightgrey;
}

button{
  border-radius: 10px;
  padding: 10px;
}

#status-bar {
  display:inline;
}

.status {
  border-right:1px solid black;
  padding-right: 10px;
}



#bodybox {
  margin: auto;
  max-width: 550px;
  font-size: 15px;
  padding: 5px;
  border-radius: 15px;
  border: 1px solid black;
}

#chatborder {
  margin: 0px;
  padding: 0px;
}

form {
  display:block;
}

input {
  height: 30px;
}

input[type=text] {
  font-size: 16px;
  width: 35%;
  transition: width 0.2s ease-in-out;
}

input[type=text]:focus {
  width: 75%;
}

input[type=submit]{
  background-color: aqua;
  width:12%;
  font-size:12px;
}

#messages {
  list-style: none;
  padding:0;
  margin:0;
}

#contsuperior{
  overflow:hidden;
}
#contposition{
  overflow:hidden;
}
#continferior{
  padding:0;
  overflow:hidden;
}

#controlsuperior div, #controlinferior div {
  float: left;
  position: relative;
  padding:2px;
}